@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC&family=Arvo&family=DM+Serif+Display&family=Roboto&family=Source+Sans+Pro&display=swap');

.App {
  text-align: center;
}
footer{
  display: block;
  padding: 15px;
  width: fit-content;
  background-color: #a13d3d;
  border-radius: 10%;
  align-items: right;
  justify-content: left;
  margin: 10% 5% 5% auto;
}
.spinner{
  display: flex;
  justify-content: center;
  align-items: center;
}
.dark{
  background: linear-gradient(#71777e, #97d4df);
  height:max-content;
}
.light{
  background: linear-gradient(#ffffff, #d2e4d0);
  height:max-content;
}
h1{
  font-size: 2.5em;
  font-family: 'Arvo',serif;
}
h2{
  font-size: 1.875em;
  font-family: 'Alegreya Sans SC';
}
p{
  font-family: 'Roboto';
  font-size: 1em;;
}
p#space{
  margin: 5% 10% 0 10%;
}
p#smal{
  font-size: 0.6em;
}
.wrapp{
  padding-top: 7%;
}
img#centerpic{
  border-radius: 35px;
  margin: 5% 0 5% 0;
}
button#hide{
  opacity: 0;
  position: absolute;
  margin-left: 42%;
  margin-top: 12.4%;
}
.picwrapp{
  padding: 7% 7% 0 7%;
}
.leftpadd{
  padding-left: 10%;
}
